name: AI Inference in GitHub Actions

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*.*.*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  LANG: ja_JP.UTF-8
  TZ: Asia/Tokyo

# $ npx @pkgdeps/update-github-actions-permissions ".github/workflows/*.{yaml,yml}"
permissions:
  contents: read
  models: read

jobs:
  ai_inference:
    name: AI Inference in GitHub Actions
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: $ git clone する
        # https://github.com/actions/checkout/releases
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      # https://github.com/actions/ai-inference
      - name: AI Inference in GitHub Actions
        id: inference
        uses: actions/ai-inference@b81b2afb8390ee6839b494a404766bef6493c7d9 # v1.2.8
        with:
          # 無指定や secrets.GITHUB_TOKEN では権限が不足しておりエラーになる
          token: ${{ secrets.MY_PAT }}
          prompt: 'こんにちは！'
      - name: Print Output
        id: output
        run: echo "${{ steps.inference.outputs.response }}"
      - name: Use Response File
        run: |
          echo "Response saved to: ${{ steps.inference.outputs.response-file }}"
          cat "${{ steps.inference.outputs.response-file }}"
