name: ⏰ Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '00 00,12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  LANG: ja_JP.UTF-8
  TZ: Asia/Tokyo

permissions: write-all

jobs:
  renovate:
    name: Renovate を実行する
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: $ git clone する
        # https://github.com/actions/checkout/releases
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: bun のセットアップを行う
        # https://github.com/oven-sh/setup-bun/releases
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        # with:
        #   bun-version: 1.2.8 # or "latest", "canary", <sha>
      - name: Node.js のセットアップを行う
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.node-version'
      - name: package.json の依存関係をインストールする ($ bun install)
        run: bun install --frozen-lockfile
      - name: Renovate を実行する
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          configurationFile: renovate.json
          token: ${{ secrets.MY_PAT }}
