name: ⏰ Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '00 00,12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  LANG: ja_JP.UTF-8
  TZ: Asia/Tokyo

permissions: write-all

jobs:
  renovate:
    name: Renovate を実行する
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - name: $ git clone する
        # https://github.com/actions/checkout/releases
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: bun のセットアップを行う
        # https://github.com/oven-sh/setup-bun/releases
        uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2.1.1
        # with:
        #   bun-version: 1.2.8 # or "latest", "canary", <sha>
      - name: Node.js のセットアップを行う
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'
      - name: package.json の依存関係をインストールする ($ bun install)
        run: bun install --frozen-lockfile
      - name: Renovate を実行する
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        with:
          configurationFile: renovate.json
          token: ${{ secrets.MY_PAT }}
